<div class='row listings'>

  <div class='span12 search-criteria center'>
    Searching for
    <ul class='unstyled criteria'>
      <li class='price'><span class='label label-success label-large'>$850</span></li>
      <li class='bedrooms'><span class='label label-warning label-large'>2 bed</span></li>
      <li class='bathrooms'><span class='label label-warning label-large'>1 bath</span></li>
      <li class='zip'><span class='label label-info label-large'>46818</span></li>
    </ul>
  </div>

  <%= render @listings %>

</div>