/* Color palette (from dark to light)

    #0F2D40
    #194759
    #296B73 (base)
    #3E8C84
    #D8F2F0

*/

@import "twitter/bootstrap/reset";
@import "twitter/bootstrap/variables";
@import "overrides/variables";                 // Your own variable overrides.
@import "twitter/bootstrap/mixins";
@import "overrides/mixins";                    // Your own mixin.
@import "twitter/bootstrap/scaffolding";
@import "twitter/bootstrap/grid";
@import "twitter/bootstrap/layouts";
@import "twitter/bootstrap/type";
@import "twitter/bootstrap/code";
@import "twitter/bootstrap/forms";
@import "twitter/bootstrap/tables";
@import "twitter/bootstrap/sprites";
@import "twitter/bootstrap/dropdowns";
@import "twitter/bootstrap/wells";
@import "twitter/bootstrap/component-animations";
@import "twitter/bootstrap/close";
@import "twitter/bootstrap/buttons";
@import "twitter/bootstrap/button-groups";
@import "twitter/bootstrap/alerts";
@import "twitter/bootstrap/navs";
@import "twitter/bootstrap/navbar";
@import "twitter/bootstrap/breadcrumbs";
@import "twitter/bootstrap/pagination";
@import "twitter/bootstrap/pager";
@import "twitter/bootstrap/modals";
@import "twitter/bootstrap/tooltip";
@import "twitter/bootstrap/popovers";
@import "twitter/bootstrap/thumbnails";
@import "twitter/bootstrap/labels-badges";
@import "twitter/bootstrap/progress-bars";
@import "twitter/bootstrap/accordion";
@import "twitter/bootstrap/carousel";
@import "twitter/bootstrap/hero-unit";
@import "twitter/bootstrap/utilities";

/* Bootstrap Overrides */

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  // Focus state
  &:focus {
    border-color: rgba(41,107,115,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(41,107,115,.6));
  }
}

.navbar .brand {
  font-family: 'Racing Sans One', cursive;
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: left;
  font-weight: bold;
  color: #ccc;
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar .brand:hover {
  text-decoration: none;
  color: #296B73;
}

.btn-xlarge {
  padding: 10px 30px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn-primary-alternate {
  .buttonBackground(#0F2D40, #396B73);
}

.label-large {
  font-size: 24px;
  line-height: 28px; // ensure proper line-height if floated
}

.label-large {
  padding: 1px 4px 2px;
  .border-radius(3px);
}

body {
  background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grey.png);
  background-repeat: repeat-x;
}

body.landing {
  background: url(/assets/outdoor.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.overlay {
  min-height: 600px;
  width: 100%;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
}

/* Generic */
.center {
  text-align: center;
}

/* Main Nav */
.nav.main-nav {
  margin-left: 32px;
}

.main-nav > li > a {
  font-weight: bold;
}

.main-nav > li.user > a {
  font-weight: normal;
}

.main-nav-container > .btn {
  position: absolute;
  margin-top: 0;
  top: 4px;
  right: 5px;
  font-weight: bold;
}

/* Main Container */

.main-container {
  padding-top: 60px;
}

.header {
  text-shadow: 0 0 10px rgba(0,0,0,1);
  color: white;
  margin-top: 86px;
}

/* Search */
.big-header {
  font-size: 64px;
}

.subtitle {
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,1);
  margin-left: 14px;
  margin-bottom: 0;
}

.search-container {
  margin-top: 86px;
}

.search-box {
  background: rgba(0,0,0, 0.5);
  .border-radius(5px);
  border: 1px solid black;
  padding: 7px;
}

.search-box form {
  margin-bottom: 0;
}

.search-box .add-on {
  padding: 12px;
  font-size: 24px;
}

.search-box input {
  font-size: 32px;
  padding: 12px;
  line-height: 38px;
  width: 154px;
  margin-right: 4px;
}

/* Listing Page */

.field-container {
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
}

.listings img {
  .border-radius(5px);
}

.listings .carousel-caption {
  .border-bottom-radius(5px);
}

.carousel > .carousel-control {
  display: none;
}

.carousel:hover > .carousel-control {
  display: block;
}

.carousel-inner {
  .box-shadow(0 0 10px black);
  .border-radius(5px);
}

.search-criteria {
  font-size: 24px;
  margin-bottom: 36px;
  opacity: 0.3;
  .transition(opacity 0.1s linear);
}

.search-criteria:hover {
  opacity: 1.0;
  .transition(opacity 0.1s linear);
}

ul.criteria {
  display: inline-block;
}

.criteria > li {
  display: inline;
}

.img-frame {
  
}

.file-dropper {
  text-align: center;
  color: #ddd;
  border: 5px dashed #ddd;
  .border-radius(5px);
}

.file-dropper-large {
  font-size: 24px;
  padding: 70px;
}

.file-dropper.hover {
  border-color: #999;
  color: #999;
}

.photos {
  margin: 16px;
  text-align: center;
}

.photos-uploader > img {
  margin: 0 8px;
}
