<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container main-nav-container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Crib Ninja", root_path, :class => 'brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav main-nav">
          <li class="">
            <%= link_to 'Browse', listings_path %>
          </li>
          <li class="">
            <%= link_to 'WTF?', '#' %>
          </li>
        </ul>
      </div>
      <%= link_to 'Post a listing', new_listing_path, :class => 'btn btn-primary pull-right' %>
    </div>
  </div>
</div>